{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription !{% endblock %}

{% block body %}
    <div class="container">


            <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary" type="submit">
                Inscription
            </button>
            {{ form_end(form) }}



    </div>

{% endblock %}